@tailwind base;
@tailwind components;
@tailwind utilities;

@layer fonts {
  @font-face {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/RedHatText-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/RedHatText-SemiBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'RedHatText';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/RedHatText-Bold.ttf) format('truetype');
  }
}

@layer base {
  html,body {
    font-family: 'RedHatText', sans-serif;
  }
}

.glkfjg {
  color:hsl(20, 50%, 98%);
  color: hsl(13, 31%, 94%);
  color: hsl(14, 25%, 72%);
  color: hsl(7, 20%, 60%);
  color: hsl(12, 20%, 44%);
  color: hsl(14, 65%, 9%);
}